{% extends 'chat/base.html' %}
{% load static %}

{% block title %}Chat{% endblock %}
{% block body %}
<p>After starting a new conversation please refresh to experience the design</p>
  <div class="container my-3">

    <div class="card">
      <div class="card-body">

        <div class="row">

          <div class="col-md-4">
            <h2>Chat with ...</h2>
            <div class="users">
              {% for other_user in users_list %}
              <div class="card my-3" onclick="openChat('{{other_user.id}}', '{{user.id}}')">
                <div class="card-body">
                  <h5 class="card-title">{{ other_user.username }}</h5>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>


          <div class="col-md-8" id="chatPanel">
            {% for group, messages in groups.items %}
            <div id="chat-{{group}}" class="chat">
              {% for message in messages %}
              {% if forloop.counter0 == 0 %}
              <div class="userinfo">
                {% if message.sender != user %}
                <h3>Chating with {{message.sender}}</h3>
                {% else %}
                <h3>Chating With {{message.receiver}}</h3>
                {% endif %}
              </div>
              {% endif %}
              {% if message.sender == user %}
              <p class="toUser">{{message.content}}</p>
              <span class="toUserTime">{{message.timestamp | time:'g:i A'}}</span>
              {% else %}
              <p class="fromUser">{{message.content}}</p>
              <span class="fromUserTime">{{message.timestamp | time:'g:i A'}}</span>
              {% endif %}
              {% endfor %}
              <div id="chat_container_{{group}}"></div>
              <input type="text" id="messageInput_{{group}}" placeholder="Type your message here">
              <button id="sendMessage" type="button" class="btn btn-success fs-4"><i
                  class="bi bi-send-fill"></i></button>
            </div>
            {% endfor %}

            <div class="newChat">
              <div></div>
              <input type="text" placeholder="Type your message here">
              <button id="sendMessage" type="button" class="btn btn-success fs-4"><i
                  class="bi bi-send-fill"></i></button>
            </div>
          </div>
        </div>

      </div>

    </div>
{% endblock %}